<head>
    <title>{{ .Site.Title }}</title>

    {{ with .Site.Params.Description }}
    <meta name="description" content="{{.}}">
    {{ end }}

    {{- with .Site.Params.Author -}}
    <meta name="author" content="{{.}}">
    {{ end }}

    <meta http-equiv="content-language" content="{{ .Lang }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    {{ .Hugo.Generator }}

    <link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL}}/images/favicon.png">

    <meta property="og:title" content="{{.Site.Title}}">
    <meta property="og:site_name" content="{{.Site.Title}}">
    <meta property="og:url" content="{{.Site.BaseURL}}">
    <meta property="og:description" content="A self hosted solution for sharing clips">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{.Site.BaseURL}}/images/og-bg.jpg">

    {{ partial "styles.html" . }}
</head>

